[project]
	description = Cash Machine app to try frameworks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ButuzGOL
[access "refs/for/refs/*"]
	read = group user/ButuzGOL
	push = group user/ButuzGOL
	label-Code-Review = -2..+2 group user/ButuzGOL
	label-Verified = -1..+1 group user/ButuzGOL
	rebase = group user/ButuzGOL
	removeReviewer = group user/ButuzGOL
	submit = group user/ButuzGOL
[access "refs/heads/*"]
	read = group user/ButuzGOL
	create = group user/ButuzGOL
	push = +force group user/ButuzGOL
	pushMerge = group user/ButuzGOL
[access "refs/tags/*"]
	push = +force group user/ButuzGOL
	pushTag = group user/ButuzGOL
	pushSignedTag = group user/ButuzGOL
