$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

body {
  padding-top: 0px;
}

p {
  padding: 15px;
}

nav.navbar-static-top {
  margin-bottom: 20px;
}
