if successMessages.length
  .ui.success.message
    if successMessages.length === 1
      p= successMessages[0]
    else
      ul
        for successMessage in successMessages
          li= successMessage