<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="">Cash Machine</a>
      <ul class="nav navbar-nav">
        <li>
          {{#link-to "index"}}Home{{/link-to}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {{#if isAuthenticated}}
        <li>
          <a href="#" {{action 'signout'}}>Signout</a>
        </li>
      {{/if}}
      </ul>
    </div>
  </nav>

  <div class="main-wrapper">
    {{outlet}}
  </div>
</div>
