<h4>Menu</h4>
<section data-place="info"></section>
<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
  <li>
    {{#link-to "card" "me"}}Card info{{/link-to}}
  </li>
  <li>
    {{#link-to "card.balance" "me"}}Take money{{/link-to}}
  </li>
</ul>
