<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cashmachineApp">
    <div id="header-region">
      <nav class="navbar-inverse navbar-static-top" role="navigation" ng-controller="Nav as vm">
        <div class="container">
          <a class="navbar-brand" href="">Cash Machine</a>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="currentCard">
            <li><a href="" ng-click="vm.signout()">Signout</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div ng-view="" class="container"></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/sessions/new.js"></script>
        <script src="scripts/services/card.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/controllers/cards/view.js"></script>
        <script src="scripts/services/card-operation.js"></script>
        <script src="scripts/directives/card-operations.js"></script>
        <script src="scripts/controllers/cards/balance.js"></script>
        <!-- endbuild -->
</body>
</html>
