<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>CashMachine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/css/material.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//pamparam.net/cashmachine/common/main.css">
  </head>
  <body ng-app="cashmachineApp">

    <div id="source" class="well">
      <a href="../" class="back mdi-hardware-keyboard-backspace"></a>
      
      <h4>
        Angular.js
        <a href="https://angularjs.org/" class="mdi-content-link"></a>
      </h4>
      <p>
        AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
      </p>
      <a href="https://github.com/ButuzGOL/cashmachine/tree/master/apps/angular">Source</a>
      <div>
        <h5>
          <strong>Credentials</strong>
        </h5>
        <dl class="dl-horizontal">
          <dt>Card number:</dt>
          <dd>111111111</dd>
          <dt>Card pin:</dt>
          <dd>111</dd>
        </dl>
      </div>
    </div>

    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCotroller as vm">
        <div class="container">
          <a class="navbar-brand" href="">Cash Machine</a>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-if="currentCard">
            <li><a href="" ng-click="vm.signout()">Signout</a></li>
          </ul>
        </div>
      </nav>
    
      <div ng-view="" class="main-wrapper"></div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <script src="bower_components/jquery-maskedinput/dist/jquery.maskedinput.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/constants.js"></script>
     <script src="scripts/mocks.js"></script>

    <script src="scripts/common/directives/masked-input.js"></script>
    <script src="scripts/common/services/auth.js"></script>

    <script src="scripts/cards/cards.js"></script>
    <script src="scripts/cards/view/view-controller.js"></script>

    <script src="scripts/cards/balance/balance-controller.js"></script>

    <script src="scripts/cards/common/directives/card-operation.js"></script>
    <script src="scripts/cards/common/services/card-operation.js"></script>
    <script src="scripts/cards/common/services/card.js"></script>

    <script src="scripts/nav/nav-controller.js"></script>

    <script src="scripts/home/home.js"></script>
    <script src="scripts/home/home-controller.js"></script>
    <script src="scripts/sessions/new.js"></script>
    <script src="scripts/sessions/new-controller.js"></script>
    <!-- endbuild -->
  </body>
</html>
